<h1>Hi!</h1>

<div class="card" style="border-radius: 1rem; background-color: rgba(70, 70, 74, 0.92);">
    <p class="m-2">
        This is my first first ASP.NET Core MVC project. This is the project that I've decided to create after only
        several weeks
        of ASP.NET learning. I've made several websites watching tutorials but of course it wasn't enough and now I'm
        here.
        Yes, the functionality is rather poor (for some reason I've spent more time on frontend than on backend), but
        I've
        learnt a lot. I'll create more projects and maybe I'll return here to add something new but right now I'm proud
        of what I did.
    </p>
</div>